/*Students Name:Purna Shrestha
UN ID:17421485*/
*{
	padding: 0;
	margin: 0;
}
header{
	height: 130px;
	background-color:white;
}
header img{
	position: relative;
	top: 35px;
	left: 35px;
	height: 80px;
	width: 100px;
	border-radius: 50%;
}
nav{
	box-shadow: 2px 3px 4px gray;
}
nav ul{
	padding-left: 375px;
	display: flex;
	justify-content: space-around;
	position: relative;
	bottom:25px;
}
nav ul li{
	width: 45px;
	list-style: none;
}
li a{
	text-decoration: none;
	color: black;
	font-size:28px;
}
li a:hover{
	color: blue;
}
.image {
	top:-10px;
	position: relative;
	padding-left: 45%;
	background-color: #d3d3d3;
}
.image h1{
	font-size: 35px;
}
.image h2{
	font-size: 30px;
	position: relative;
	left: -25px;
}
.image img{
	border: 2px solid #64B5F6;
	top: 5px;
	position: relative;
	left:15px;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	transition: all 1.2s;
}
.introduction{
	display: flex;
	flex-direction: row;
	position: relative;
	top: -10px;
}
.info{
	width:78%;
	height: 450px;
	background-color: #CE93D8;
	font-style: italic;
	
}
.imagee img{
	height: 450px;
	width:350px;
	
}
.image img:hover{
	transform: rotate(360deg);
}
footer{
	position: relative;
	top: -20px;
	display: flex;
	flex-direction: row;
	
}
.copyright{
	width: 50%;
	background-color: lightgray;
}
.copyright p{
	padding-top: 15px;
	font-size: 20px;
}
.icons{
	background-color: lightgray;
	width: 50%;

}
.icons img{
	height: 48px;
	width: 48px;
	transition-duration: 1.5s;
}
.icons img:hover{
	transform: rotate(270deg);
}
.icons p{
	padding-top: 15px;
	float: left;
}
@media (max-width: 600px){
	
header{
	height: 220px;
}
	nav ul {
		display: flex;
		flex-direction: column;
		position: relative;	
		left: -157px;
	}
	.image img{
		top: 5px;
		position: relative;
		left: 5px;
		height: 50px;
		width: 50px;
	}
	.image h1{
		font-size: 18px;
	}
	.image h2{
		position: relative;
		font-size: 18px;
	}
	.introduction{
		display: flex;
		flex-direction: column;
		position: relative;
		top: -10px;
	}
	.info{
		width:100%;
		height: 895px;
	}
	.imagee img{
		height: 250px;
	}
	footer{
		display: flex;
		flex-direction: column;
		width: 735px;
	}
}