*{
	padding: 0;
	margin: 0;
}
header{
	height: 130px;/* Height is 130px*/
	background-color:white;/* Background color is white */
}
header img{
	position: relative;/*Here image position is normal */
	top: 35px;/* Here padding at top is 35px*/
	left: 35px;/*Here padding at left is 35px */
	height: 80px;/*Here height of image is 80px  */
	width: 100px;/*Here width of image is 100px */
	border-radius: 50%;/* Border radius is 50% */
}
nav{
	box-shadow: 2px 3px 4px gray;/* Here the shadow of box is gray */
}
nav ul{
	padding-left: 375px;/* Here padding at left is 375px*/
	display: flex;/* Here element are display in block level flex */
	justify-content: space-around;/* Here the elements are placed before,after and below the line */
	position: relative;/* Here image position is normal*/
	bottom:25px;/* Here padding is 25px */
}
nav ul li{
	width: 45px;/*Here width of image is 45px */
	list-style: none;/* here no marker is shown*/
}
li a{
	text-decoration: none;/* Display is normal*/
	color: black;
	font-size:28px;/* text font size is 28px */
}
li a:hover{
	color: blue;/* here color is blue */
}
.image img{
	position: relative;/*Here position is normal */
	top: 10px;/* here padding at top is 10px */
	left: 10px;
	height:180px;
	width: 180px;
	border-radius: 50%;/* Border radius is 50% */
	transition-duration: 1s;/*image transition duration is 1s */
}
.image img:hover{
	transform: scale(1.1);
}
section{
	position: relative;/*Here position is normal */
	top: -10px;
	margin: 0;
	background-image: url("../images/background2.jpg");
	background-attachment: fixed;/*here background image is fixed */
	background-size: cover;
}
section h1{
	padding-top: 15px;
	text-align: center;/*text is in center */
	font-family: Helvetica;
	font-size: 32px;
}
.firsst{
	padding-top: 35px;
	display: flex;/* Here element are display in block level flex*/
	flex-direction: row;/*items are displayed horizontlly as row */
	height: 250px;
	justify-content: space-around;/* Here the elements are placed before,after and below the line */
}
.introo{
	width:38%;
	background-color: #B9F6CA;
	box-shadow: 2px 3px 5px #69F0AE;
	opacity: 0.7; 
}
.interests{
	width: 38%;
	background-color: #B9F6CA;
	opacity: 0.7;/*opacity is 0.7s */
	box-shadow: 2px 3px 5px #69F0AE;
}
.seconnd{
	padding-top: 35px;
	display: flex;/* Here element are display in block level flex*/
	flex-direction: row;/*items are displayed horizontlly as row */
	justify-content: space-around;/* Here the elements are placed before,after and below the line */
	padding-bottom: 40px;/*padding at bottom is 40px */
}
.firsst ul li{
	list-style-type: none;/*Here no marker is shown */
	padding-left: 35px;/*padding at left is 35px */
	font-size: 18px;
}	
.seconnd ul li
{
	list-style-type: none;/*Here no marker is shown */
	padding-left: 35px;/*padding at left is 35px */
	font-size: 18px;
}
.eduu{
	box-shadow: 2px 3px 5px #69F0AE;
	width: 38%;
	height:250px;
	background-color: #B9F6CA;
	opacity: 0.7;/*opacity is 0.7s */
}
.skills{
	box-shadow: 2px 3px 5px #69F0AE;
	height:250px;
	width: 38%;
	background-color: #B9F6CA;
	opacity: 0.7;/*opacity is 0.7s */
}
footer{
	position: relative;/*Here position is normal */
	top: -10px;
	display: flex;/* Here element are display in block level flex*/
	flex-direction: row;/* items are displayed horizontally as row*/
	
}
.copyright{
	width: 50%;
	background-color: lightgray;/*Background colour is light gray */
}
.copyright p{
	padding-top: 15px;/*padding at the top is 15px */
	font-size: 20px;
}
.icons{
	background-color: lightgray;/*Background colour is light gray */
	width: 50%;

}
.icons img{
	height: 48px;
	width: 48px;
	transition-duration: 1.5s;/*Transition duration is 1.5s */
}
.icons img:hover{
	transform: rotate(270deg);/* icons rotate at 270degree */
}
.icons p{
	padding-top: 15px;/*padding at the top is 15px */
	float: left;/*icons float at left */
}
@media (max-width: 600px){
	
header{
	height: 220px;
}
	nav ul {
		display: flex;/* Here element are display in block level flex*/
		flex-direction: column;/*items are displayed vertically as column */
		position: relative;	/*Here position is normal */
		left: -157px;
	}
	section{
		background-image: none;/*background image is normal */
		background-color: #1E88E5;
	}
	.image img{
		position: relative;/*Here position is normal */
		top: 2.9px;
		height: 65px;
		width: 65px;
	}
	.firsst{
		display: flex;/* Here element are display in block level flex*/
		flex-direction: column;/*items are displayed vertically as column */
		height: 218px;
	}
	.firsst ul li{
		list-style-type: none;/*Here no marker is shown */
		font-size: 10px;
	}	
	.introo{
		width: 100%;
		height: 185px;
	}
	.introo h1{
		font-size: 11px;
	}
	.interests{
		width: 100%;
		height: 125px;
		font-size: 10px;	
	}
	.interests h1{
		font-size: 11px;
	}
	.seconnd{
		display: flex;/* Here element are display in block level flex*/
		flex-direction: column;/*items are displayed vertically as column */
		height: 218px;
	}
	.seconnd ul li{
		list-style-type: none;
		font-size: 10px;
	}
	.eduu{
		width: 100%;
		height: 120px;
		font-size: 10px;
	}
	.eduu h1{
		font-size: 11px;
	}
	.skills{
		height: 190px;
		width: 100%;
	}
	.skills h1{
		font-size: 10px;
	}
	footer{
		display: flex;/* Here element are display in block level flex*/
		flex-direction: column;/*items are displayed vertically as column */
		width: 735px;
	}
}