*{
	padding: 0;
	margin: 0;
}
header{
	height: 130px;
	background-color:white;
}
header img{
	position: relative;
	top: 35px;
	left: 35px;
	height: 80px;
	width: 100px;
	border-radius: 50%;
}
nav{
	box-shadow: 2px 3px 4px gray;
}
nav ul{
	padding-left: 375px;
	display: flex;
	justify-content: space-around;
	position: relative;
	bottom:25px;
}
nav ul li{
	width: 45px;
	list-style: none;
}
li a{
	text-decoration: none;
	color: black;
	font-size:28px;
}
li a:hover{
	color: blue;
}
.image img{
	position: relative;
	top: 10px;
	left: 10px;
	height:180px;
	width: 180px;
	border-radius: 50%;
	transition-duration: 1s;
}
.image img:hover{
	transform: scale(1.1);
}
section{
	position: relative;
	top: -10px;
	margin: 0;
	background-image: url("../images/background2.jpg");
	background-attachment: fixed;
	background-size: cover;
}
section h1{
	padding-top: 15px;
	text-align: center;
	font-family: Helvetica;
	font-size: 32px;
}
.firsst{
	padding-top: 35px;
	display: flex;
	flex-direction: row;
	height: 250px;
	justify-content: space-around;
}
.introo{
	width:38%;
	background-color: #B9F6CA;
	box-shadow: 2px 3px 5px #69F0AE;
	opacity: 0.7; 
}
.interests{
	width: 38%;
	background-color: #B9F6CA;
	opacity: 0.7;
	box-shadow: 2px 3px 5px #69F0AE;
}
.seconnd{
	padding-top: 35px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-bottom: 40px;
}
.firsst ul li{
	list-style-type: none;
	padding-left: 35px;
	font-size: 18px;
}	
.seconnd ul li
{
	list-style-type: none;
	padding-left: 35px;
	font-size: 18px;
}
.eduu{
	box-shadow: 2px 3px 5px #69F0AE;
	width: 38%;
	height:250px;
	background-color: #B9F6CA;
	opacity: 0.7;
}
.skills{
	box-shadow: 2px 3px 5px #69F0AE;
	height:250px;
	width: 38%;
	background-color: #B9F6CA;
	opacity: 0.7;
}
footer{
	position: relative;
	top: -10px;
	display: flex;
	flex-direction: row;
	
}
.copyright{
	width: 50%;
	background-color: lightgray;
}
.copyright p{
	padding-top: 15px;
	font-size: 20px;
}
.icons{
	background-color: lightgray;
	width: 50%;

}
.icons img{
	height: 48px;
	width: 48px;
	transition-duration: 1.5s;
}
.icons img:hover{
	transform: rotate(270deg);
}
.icons p{
	padding-top: 15px;
	float: left;
}
