/*Students Name:Purna Shrestha
UN ID:17421485*/
*{
	padding: 0;
	margin: 0;
}
header{
	height: 130px;/* Height is 130px*/
	background-color:white;/* Background color is white */
}
header img{
	position: relative;
	top: 35px;
	left: 35px;
	height: 80px;
	width: 100px;
	border-radius: 50%;
}

nav{
	box-shadow: 2px 3px 4px gray;
}
nav ul{
	padding-left: 375px;
	display: flex;
	justify-content: space-around;
	position: relative;
	bottom:25px;
}
nav ul li{
	width: 45px;
	list-style: none;
}
li a{
	text-decoration: none;
	color: black;
	font-size:28px;
}
li a:hover{
	color: blue;
}
section{
	position: relative;
	top: -10px;
	background-image: url("../images/purna.jpg");
	background-attachment: fixed;
	background-size:cover;
	height: 600px;
}

.welcome h1{
	position: relative;
	top: 25px;
	color: blue;
	text-align: center;
	font-size: 41px;
}
.introduction{
	background-color: white;
	height: 300px;
	width: 550px;
	position: relative;
	left:28%;
	top: 9%;
	display: flex;
	justify-content: space-between;
}
.image{
	width: 40%;
	}
.image img{
	position: relative;
	top: 50px;
	left:25px;
	height:205px;
	width: 150px;
}
.name{
	padding-top: 45px;
	width: 60%;	
	box-shadow: 4px 5px 6px gray;
}
.name h2{
	font-size: 38px;
	font-style: italic;
	color: #766;
}
.name h3{
	font-size: 28px;
	font-style: italic;
	color: navy;
}
.name h5{
	font-size: 33px;
	font-weight: bold;
	color: #0054FF;
}
.name a{
	text-decoration: none;
	font-size: 25px;
	color: black;
}
.line{
	width: 74%;
}
footer{
	position: relative;
	top: -10px;
	display: flex;
	flex-direction: row;
	
}
.copyright{
	width: 50%;
	background-color: lightgray;
}
.copyright p{
	padding-top: 15px;
	font-size: 20px;
}
.icons{
	background-color: lightgray;
	width: 50%;

}
.icons img{
	height: 48px;
	width: 48px;
	transition-duration: 1.5s;
}
.icons img:hover{
	transform: rotate(270deg);
}
.icons p{
	padding-top: 15px;
	float: left;
}
@media (max-width: 600px){
	
header{
	height: 220px;
}
	nav ul {
		display: flex;
		flex-direction: column;
		position: relative;	
		left: -157px;
	}
	.welcome h1{
		font-size: 28px;
	}
	.introduction{
		left: 0px;
		width: 350px;
	}
	.image img{
		height: 180px;
		width: 100px;
	}
	.name h2, .name h3{
		font-size: 18px;
	}
	.name h4{
		font-size: 14px;
		position: relative;
		top: -15px;
	}
	.name h5{
		font-size: 25px;
	}
	section{
		background-image: none;
		background-color: red;
	}
	footer{
		display: flex;
		flex-direction: column;
		width: 735px;
	}

}